In [48]:
import pandas as pd
codebookPath = "IHME_GBD_2013_OBESITY_PREVALENCE_1990_2013_Y2014M10D08/IHME_GBD_2013_OBESITY_PREVALENCE_1990_2013_CB_Y2014M10D08.CSV"
filePath = "IHME_GBD_2013_OBESITY_PREVALENCE_1990_2013_Y2014M10D08/IHME_GBD_2013_OBESITY_PREVALENCE_1990_2013_Y2014M10D08.CSV"

colName = ['location_id','location','location_name','year','age_group_id','age_group','age_start','age_end','sex_id','sex','unit','metric','measure','mean','lower','upper']
fld=pd.read_csv(filePath,names = colName,header=None)
codebook = pd.read_csv(codebookPath,header=None)

In [49]:
fld.size

9586960

In [50]:
fld=fld[1:]
fld[:5]

,location_id,location,location_name,year,age_group_id,age_group,age_start,age_end,sex_id,sex,unit,metric,measure,mean,lower,upper
1,160,AFG,Afghanistan,1990,34,2 to 4 yrs,2,4,1,male,pct,obese,prevalence,0.068,0.044,0.107
2,160,AFG,Afghanistan,1990,34,2 to 4 yrs,2,4,1,male,pct,overweight,prevalence,0.192,0.136,0.265
3,160,AFG,Afghanistan,1990,36,"2 to 19 yrs, age-standardized",2,19,1,male,pct,obese,prevalence,0.061,0.049,0.076
4,160,AFG,Afghanistan,1990,36,"2 to 19 yrs, age-standardized",2,19,1,male,pct,overweight,prevalence,0.168,0.14,0.197
5,160,AFG,Afghanistan,1990,6,5 to 9 yrs,5,9,1,male,pct,overweight,prevalence,0.152,0.107,0.21

In [4]:
codebook.size

40

In [5]:
one = fld.loc[(fld['year'] == 2013) & (fld['age_group_id'] == 34) & (fld['sex_id'] == 1)]
one = one[['year','location','age_group_id','sex_id','metric','mean','lower','upper']][:10]

In [6]:
one.to_json(orient='records')

'[{"year":2013,"location":"BEL","age_group_id":34,"sex_id":1,"metric":"overweight","mean":0.235,"lower":0.165,"upper":0.311},{"year":2013,"location":"BEL","age_group_id":34,"sex_id":1,"metric":"obese","mean":0.047,"lower":0.03,"upper":0.07},{"year":2013,"location":"BEN","age_group_id":34,"sex_id":1,"metric":"obese","mean":0.057,"lower":0.037,"upper":0.083},{"year":2013,"location":"BEN","age_group_id":34,"sex_id":1,"metric":"overweight","mean":0.19,"lower":0.139,"upper":0.252},{"year":2013,"location":"BFA","age_group_id":34,"sex_id":1,"metric":"obese","mean":0.041,"lower":0.028,"upper":0.059},{"year":2013,"location":"BFA","age_group_id":34,"sex_id":1,"metric":"overweight","mean":0.099,"lower":0.076,"upper":0.129},{"year":2013,"location":"BGD","age_group_id":34,"sex_id":1,"metric":"overweight","mean":0.035,"lower":0.024,"upper":0.049},{"year":2013,"location":"BGD","age_group_id":34,"sex_id":1,"metric":"obese","mean":0.018,"lower":0.013,"upper":0.025},{"year":2013,"location":"BGR","age_group_id":34,"sex_id":1,"metric":"overweight","mean":0.326,"lower":0.242,"upper":0.424},{"year":2013,"location":"BGR","age_group_id":34,"sex_id":1,"metric":"obese","mean":0.084,"lower":0.054,"upper":0.122}]'

In [7]:
continents = ['R1','R10','R11','R12','R13','R14','R15','R16','R17','R18','R19','R2','R20','R21','R3','R4','R5','R6','R7','R8','R9','S1','S2','S3','S4','S5','S6','S7']

In [53]:
for year in range(1990,2014):
    for ageGroup in [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,34,36,38]:
        for sexGroup in [1,2,3]:
            
            year_ageGroupId_sexId_countries = fld.loc[(fld['year'] == year) & (fld['age_group_id'] == ageGroup) & (fld['sex_id'] == sexGroup) &
                                               ~fld['location'].isin(continents)]
            subset=year_ageGroupId_sexId_countries[['location','metric','mean','lower','upper']]
            jsonOutput = subset.to_json(orient='records')
            text_file = open(str(year) + '_' + str(ageGroup) + '_' + str(sexGroup) + '.txt', "w")
            text_file.write(jsonOutput)
            text_file.close()
            
            year_ageGroupId_sexId_continents = fld.loc[(fld['year'] == year) & (fld['age_group_id'] == ageGroup) & (fld['sex_id'] == sexGroup) &
                                               fld['location'].isin(continents)]
            subset2=year_ageGroupId_sexId_continents[['location','metric','mean','lower','upper']]
            jsonOutput2 = subset2.to_json(orient='records')
            text_file2 = open(str(year) + '_' + str(ageGroup) + '_' + str(sexGroup) + 'continents.txt', "w")
            text_file2.write(jsonOutput2)
            text_file2.close()

In [42]:
countriesList = fld=pd.read_csv("countriesList.csv",header=None)

In [43]:
countriesList.size

219

In [44]:
countriesList[:5]

     0
0  AFG
1  AGO
2  ALB
3  AND
4  ARE

In [25]:
fld.loc[fld['location'] == 'AFG'][:5]

,location_id,location,location_name,year,age_group_id,age_group,age_start,age_end,sex_id,sex,unit,metric,measure,mean,lower,upper
1,160,AFG,Afghanistan,1990,34,2 to 4 yrs,2,4,1,male,pct,obese,prevalence,0.068,0.044,0.107
2,160,AFG,Afghanistan,1990,34,2 to 4 yrs,2,4,1,male,pct,overweight,prevalence,0.192,0.136,0.265
3,160,AFG,Afghanistan,1990,36,"2 to 19 yrs, age-standardized",2,19,1,male,pct,obese,prevalence,0.061,0.049,0.076
4,160,AFG,Afghanistan,1990,36,"2 to 19 yrs, age-standardized",2,19,1,male,pct,overweight,prevalence,0.168,0.14,0.197
5,160,AFG,Afghanistan,1990,6,5 to 9 yrs,5,9,1,male,pct,overweight,prevalence,0.152,0.107,0.21

In [56]:
for index, row in countriesList.iterrows():
    countryList = fld.loc[fld['location'] == row[0]]
    subset2=countryList[['year',"age_group_id","sex",'metric','mean','lower','upper']]
    jsonOutput2 = subset2.to_json(orient='records')
    text_file2 = open("countries/"+ row[0] + '.txt', "w")
    text_file2.write(jsonOutput2)
    text_file2.close()

In [32]:
type(countriesList)

pandas.core.frame.DataFrame

In [62]:
fld.loc[(fld['location_name'] == 'Libya')][:5]

,location_id,location,location_name,year,age_group_id,age_group,age_start,age_end,sex_id,sex,unit,metric,measure,mean,lower,upper
273601,147,LBY,Libya,1990,34,2 to 4 yrs,2,4,1,male,pct,overweight,prevalence,0.339,0.253,0.431
273602,147,LBY,Libya,1990,34,2 to 4 yrs,2,4,1,male,pct,obese,prevalence,0.149,0.101,0.214
273603,147,LBY,Libya,1990,36,"2 to 19 yrs, age-standardized",2,19,1,male,pct,overweight,prevalence,0.315,0.272,0.361
273604,147,LBY,Libya,1990,36,"2 to 19 yrs, age-standardized",2,19,1,male,pct,obese,prevalence,0.139,0.114,0.167
273605,147,LBY,Libya,1990,6,5 to 9 yrs,5,9,1,male,pct,overweight,prevalence,0.279,0.206,0.371